@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<section class="hero">
    <h1>HỆ THỐNG QUẢN LÝ CÔNG VIỆC DỰ ÁN</h1>
    <p>Theo dõi tiến độ - Quản lý hiệu quả</p>
    <button class="btn-main">Bắt đầu</button>
</section>

<section class="stats">
    <div class="stat-card">
        <h2>0</h2>
        <p>Dự án đang thực hiện</p>
    </div>
    <div class="stat-card">
        <h2>0</h2>
        <p>Công việc được giao</p>
    </div>
    <div class="stat-card">
        <h2>0</h2>
        <p>Thành viên tham gia</p>
    </div>
    <div class="stat-card">
        <h2>0</h2>
        <p>Mô hình phát triển</p>
    </div>
</section>

<section class="project-list">
    <h2> Dự án gần đây</h2>
    <table>
        <thead>
            <tr>
                <th>Tên dự án</th>
                <th>Mô tả</th>
                <th>Số lượng tham gia</th>
                <th>Mô hình phát triển</th>
            </tr>
        </thead>
        @* <tbody>
            <tr>
                <td>Quản lý nhân sự nội bộ</td>
                <td>Xây dựng hệ thống theo dõi và chấm công</td>
                <td>6</td>
                <td>Scrum</td>
            </tr>
            <tr>
                <td>Website học trực tuyến</td>
                <td>Phát triển nền tảng học online cho công ty</td>
                <td>5</td>
                <td>Agile</td>
            </tr>
            <tr>
                <td>Ứng dụng quản lý dự án</td>
                <td>Tối ưu hóa quy trình giao việc và báo cáo</td>
                <td>4</td>
                <td>Kanban</td>
            </tr>
        </tbody> *@
    </table>
</section>