html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (max-width: 991.98px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 5px 0;
    }

    .navbar .d-flex {
        justify-content: center;
        width: 100%;
    }

    .navbar-nav .nav-link {
        border: 2px solid transparent; /* mặc định không thấy border */
        border-radius: 8px;
        padding: 6px 12px;
        transition: all 0.3s ease;
    }

    .navbar-nav .nav-link:hover {
        border-color: white; /* màu viền khi hover */
        background-color: rgba(255, 255, 255, 0.2); /* nền mờ nhẹ */
    }
}

#backToTopBtn:hover {
    background-color: #f0ad4e;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
