@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ChatRoom>

@foreach (var r in Model)
{
    <div class="chat-room-item" onclick="loadChatContent(@r.ChatRoomId)">
        @r.Name
    </div>
}
