@model ChatRoom

<input type="hidden" id="ChatRoom_ProjectId" value="@Model.ProjectId" />

<div class="mb-3">
    <label class="form-label">Tên phòng</label>
    <input id="chatRoomName" class="form-control" placeholder="Nhập tên phòng...">
</div>
